@import './theme-dark.less';
@import '../palettize.less';
@import './starforged-font.css'; // HACK to avoid import error

.theme-starforged {
  // --font-primary: 'Carrois Gothic SC', sans-serif;
  // --font-mono: monospace;
  .palettizeFoundry(black, #3df, #0ff, #88f);

  // ironsworn specific
  --ironsworn-color-danger: hsl(0, 80%, 50%);
  --ironsworn-color-success: hsl(290, 80%, 50%);
  --ironsworn-color-success-faded: hsl(290, 80%, 60%);

  input::placeholder {
    color: var(--color-text-light-primary);
    opacity: 0.5;
  }
  .window-app .window-content {
    // background: url(../ui/parchment.jpg) repeat;
    // background: url(../ui/denim075.png) repeat;
  }
  .window-app,
  .journal-entry .journal-entry-content {
    border: 1px solid var(--color-faded);
  }
  .ironsworn {
    .theme-dark();
    &.window-app {
      background: #000d;
      backdrop-filter: blur(5px);
      .window-content {
        background-image: none;
        color: var(--color-text-light-primary);
      }
    }
    .dialog-buttons {
      .dialog-button {
        color: currentColor;
      }
    }
  }
}
