/* stylelint-disable no-duplicate-selectors */
// styles for ProseMirror editors

.app.ironsworn {
	// Editors: shared styles
	.editor {
		--ironsworn-editor-height-min: 100px;

		min-height: var(--ironsworn-editor-height-min);
	}

	.editor {
		border: var(--ironsworn-border-width-md) solid
			var(--ironsworn-color-input-border);
		background: var(--ironsworn-color-input-bg);
		caret-color: var(--ironsworn-color-fg-highlight);
	}

	.tab .editor {
		border-top-width: 0;
		border-radius: 0 0 var(--ironsworn-border-radius-lg)
			var(--ironsworn-border-radius-lg);
	}

	.editor-edit {
		.clickableBlockMixin();

		border-radius: var(--ironsworn-border-radius-md);
		background: var(--ironsworn-color-bg);
	}

	// Editor custom select elements
	.prosemirror button {
		.clickableBlockMixin();

		border-radius: var(--ironsworn-border-radius-md);
	}

	// Editors: ProseMirror

	.ProseMirror {
		.inputFieldMixin();

		padding: var(--ironsworn-spacer-lg);
	}
}
