/* stylelint-disable scss/no-dollar-variables */
/* stylelint-disable mavrin/stylelint-declaration-use-css-custom-properties */
/* stylelint-disable no-duplicate-selectors */
@use 'mixin:clickable.scss';
@use 'mixin:input.scss';

// styles for ProseMirror editors

// Editors: shared styles
.editor {
	--ironsworn-editor-height-min: 100px;

	min-height: var(--ironsworn-editor-height-min);
}

.editor {
	border: var(--ironsworn-border-width-md) solid
		var(--ironsworn-color-input-border);
	background: var(--ironsworn-color-input-bg);
	caret-color: var(--ironsworn-color-fg-highlight);
}

.tab .editor {
	border-top-width: 0;
	border-radius: 0 0 var(--ironsworn-border-radius-lg)
		var(--ironsworn-border-radius-lg);
}

.editor-edit {
	@include clickable.block;

	border-radius: var(--ironsworn-border-radius-md);
	border-color: var(--ironsworn-color-midtone-50);
	background: var(--ironsworn-color-midtone-30);
}

// Editor custom select elements
.prosemirror button {
	@include clickable.block;

	border-radius: var(--ironsworn-border-radius-md);
}

// Editors: ProseMirror

.ProseMirror {
	@include input.field;

	padding: var(--ironsworn-spacer-lg);
}
