<form
  class='{{cssClass}} flexcol vueroot'
  style='height: 100%'
  autocomplete='off'
>
  <oracle-move-browser-sheet
    :actor='data.actor'
    :toolset='data.toolset'
    ref='child'
  >
    Whoops, an error occurred.
  </oracle-move-browser-sheet>
</form>