<form
  class='{{cssClass}} flexcol vueroot'
  style='height: 100%'
  autocomplete='off'
>
  <browser-sheet :actor='data.actor' :toolset='data.toolset' ref='child'>
    Whoops, an error occurred.
  </browser-sheet>
</form>