<form class='{{cssClass}} character-sheet-form-app' autocomplete='off'>
  <sf-charactersheet
    class='ironsworn-vueport'
    dependencies='vue vuecomponents'
    :actor='actor'
  >
    Loading…
  </sf-charactersheet>
  {{editor
    content=data.notes
    target='notes'
    button=true
    editable=editable
    owner=owner
  }}
</form>